.git
.github
**/.gitignore
.vscode
coverage
azure-pipelines.yml
*.md
.prettierrc
README.md
Dockerfile
docker-compose.yml
.dockerignore

# Secrets
.env
.env.example

# Node Files
node_modules
npm-debug.log
npm-debug.log.*

# Source files
src
test